coverage
test/reports
/.bundle
/public/client
/db/*.sqlite3
/log/*.log
/tmp
.project
.DS_Store
client
/rules/rules_test
/rules/*.rb
/rules/*.h
/rules/*.cpp
/rules/*.o
/rules/database_fields
/rules/*.german.html
/rules/*.english.html
/config/thin_local.yml
/nbproject/private/
/.idea
atlassian-ide-plugin.xml