<%= @production_time %><br/>
<% 
  values = ""
  begin
    (0..20).each do |level|
      value = ::Util::Formula.parse_from_formula(@production_time).apply(level)
      values = "#{values} <b>#{level}:</b> #{value},"
    end %>
    <%= values.html_safe %>

  <%rescue Exception => exc %>
    <%= ('<span class="formula-error">ERROR:</span> ' +  exc.to_s).html_safe %>
    <% @num_errors = (@num_errors || 0) + 1 %>
  <%end
%>
