<p id="notice"><%= notice %></p>

<p>
  <b>Number of Character Ranking Entries:</b>
  <%= @ranking_info[:character_entries_count] %>
</p>

<p>
  <b>Number of Alliance Ranking Entries:</b>
  <%= @ranking_info[:alliance_entries_count] %>
</p>

<p>
  <b>Number of Fortress Ranking Entries:</b>
  <%= @ranking_info[:fortress_entries_count] %>
</p>
