<p id="notice"><%= notice %></p>

<p>
  Character: <%= @fundamental_character.id %> | <%= @fundamental_character.identifier %> | 
  <b><%= @fundamental_character.name %></b>
</p>

  <% @properties.inspect %>