<h1>Editing assignment_special_assignment_frequency</h1>

<%= render 'form' %>

<%= link_to 'Show', @assignment_special_assignment_frequency %> |
<%= link_to 'Back', assignment_special_assignment_frequencies_path %>
