<%= form_for(@like_system_dislike) do |f| %>
  <% if @like_system_dislike.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@like_system_dislike.errors.count, "error") %> prohibited this like_system_dislike from being saved:</h2>

      <ul>
      <% @like_system_dislike.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
