<h1>Editing action_military_attack_army_action</h1>

<%= render 'form' %>

<%= link_to 'Show', @action_military_attack_army_action %> |
<%= link_to 'Back', action_military_attack_army_actions_path %>
