<p id="notice"><%= notice %></p>

<p>
  <b>Offer:</b>
  <%= @shop_special_offers_transaction.offer_id %>
</p>


<%= link_to 'Edit', edit_shop_special_offers_transaction_path(@shop_special_offers_transaction) %> |
<%= link_to 'Back', shop_special_offers_transactions_path %>
