<h1>Listing fundamental_announcements</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Locale</th>
    <th>Heading</th>
    <th>Expires</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%@fundamental_announcements.each do |fundamental_announcement| 
  @fundamental_announcement = fundamental_announcement %>
  <tr class="announcement-original">
    <%= render 'entry' %>
  </tr>
  <% fundamental_announcement.translations.each do |translation|   
    @fundamental_announcement = translation %>
    <tr class="announcement-translation">
      <%= render 'entry' %>
    </tr>
  <%end%>
<%end%>
</table>

<br/>

<%= link_to 'New Announcement', new_fundamental_announcement_path %>
