<h1>Editing effect_alliance_construction_effect</h1>

<%= render 'form' %>

<%= link_to 'Show', @effect_alliance_construction_effect %> |
<%= link_to 'Back', effect_alliance_construction_effects_path %>
