<p id="notice"><%= notice %></p>

<p>
  <b>Army:</b>
  <%= @military_army_detail.army_id %>
</p>


<%= link_to 'Edit', edit_military_army_detail_path(@military_army_detail) %> |
<%= link_to 'Back', military_army_details_path %>
