<h1>Editing action_trading_trading_carts_action</h1>

<%= render 'form' %>

<%= link_to 'Show', @action_trading_trading_carts_action %> |
<%= link_to 'Back', action_trading_trading_carts_actions_path %>
