<p id="notice"><%= notice %></p>

<p>
  <b>Cohort size:</b>
  <%= @backend_tutorial_stat.cohort_size %>
</p>


<%= link_to 'Edit', edit_backend_tutorial_stat_path(@backend_tutorial_stat) %> |
<%= link_to 'Back', backend_tutorial_stats_path %>
