<p id="notice"><%= notice %></p>

<p>
  <b>Email messages:</b>
  <%= @fundamental_setting.email_messages %>
</p>


<%= link_to 'Edit', edit_fundamental_setting_path(@fundamental_setting) %> |
<%= link_to 'Back', fundamental_settings_path %>
