<% content_for :treasure_links do %>
  <ul class="submenue">
    <li><%= link_to I18n.translate("application.layout.treasure.treasure"), treasure_treasures_path %></li>
  </ul>
<% end %>

<% content_for :content do %>
  <%= content_for?(:treasure_content) ? yield(:treasure_content) : yield %>
<% end %>

<%= render :template => 'layouts/application' %>
